.header {
    text-align: center;
    background-color: #f09c9cf8;
    padding: 10px;
    padding-top: 20px;
}
.head {
    margin-block-start: 0px;
}
.list {
    color: #f0bb9cf8;
}

.Description ,
.Ingredients ,
.Steps {
    text-align: center;
}